[Unit]
Description=Template application for openbmc
After=network.target

[Service]
ExecStart=/usr/bin/template_app
Restart=no
# Additional directives to improve debugging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
