[Unit]
Description=Template application for openbmc
StopWhenUnneeded=false

[Service]
ExecStart=@INSTALL_PREFIX@/bin/template_app

[Install]
WantedBy=multi-user.target
